body {
    background-color: rgb(rgb(31, 33, 35));
}
.container {
    font-family: 'Sansita Swashed', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-screen img {
    width: 60%;
    height: auto;
    margin: 0 20% 15%;
}

.goFish {
    width: 100%;
}

.goFish img {
    width: 20%;
    margin: 0 40%;
    height: auto;
}

canvas {
    border: 5px solid white;
}