body {
    background-color: rgb(31, 33, 35);
}
.container {
    font-family: 'Sansita Swashed', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-screen img {
    width: 60%;
    height: auto;
    margin: 0 20% 5%;
}

.goFish {
    width: 100%;
}

.goFish img {
    width: 15%;
    margin: 0 42%;
    height: auto;
}

canvas {
    /* border: 5px solid white; */
}

h1 {
    margin-bottom: 50px;
}